# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ljh20\IDEA Workspaces\springMybatis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

mybatis-01/target/
mybatis-02/target/


#idea
.idea/
*.iml
